html {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 200;
    padding: 0px;
}

body {
    margin: 0px;
}

table {
    margin: 0px;
    width: 380px;
    height: 844px;
    box-sizing: border-box;

}

caption {
    height: 40px;
    background-color: #0b285c; 
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    
}

#kniffel {
    padding-top: 10px;
    padding-bottom: 10px;
}


#ueberschrift {
    font-weight: 550;

}

.name {
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    outline: none;
    border-color: white;
    border: 0;
    text-align: center;
    max-width: min-content;
    width: 90px;
    height: 30px;
    color: white;
    background-color: rgb(11, 40, 92);
}


input {
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    outline: none;
    border-color: white;
    border: 0;
    text-align: center;
    max-width: min-content;
    width: 75px;
    height: 20px;
    color: black;
}

#gesamtObenEins, #gesamtObenZwei, #bonusEins, #bonusZwei, #ergebnisObenEins, #ergebnisObenZwei, #ergebnisObenEinsUnten, #ergebnisObenZweiUnten, #ergebnisUntenEins, #ergebnisUntenZwei, #ergebnisEins, #ergebnisZwei {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#gesamtObenZwei {
    text-align: center;
}

::placeholder {
    color: rgba(255, 255, 255, 0.568);
}


table#tabelle {
    border: 6px solid rgb(11, 40, 92); 
    border-collapse: collapse;
}


table td {
    border: 1px solid rgb(0, 0, 0); 
    border-collapse: collapse;
}

table tr:nth-child(7) {
    border: 3px solid rgb(11, 40, 92); 
  }

table tr:nth-child(9) {
   border: 3px solid rgb(11, 40, 92); 
}

tfoot tr:nth-child(1) {
    border: 3px solid rgb(11, 40, 92); 
}

tfoot tr:nth-child(3) {
   border: 3px solid rgb(11, 40, 92); 
}

.linie {
    border-right: 3px solid rgb(11, 40, 92); 
    width: 88px;
}



td {
    padding-left: 6px;
    padding-right: 6px;
}

th {
    background-color: rgb(11, 40, 92);
}


#button { 
    background-color: rgb(11, 40, 92);
    border: 0px;
    margin: 0rem;
    padding: 10px;
    color: white;
    display: block;
    width: 380px;
    height: auto;
    font-size: 16px;


}

#button:focus {
    background-color: white;
    color: rgb(11, 40, 92);
    border: 3px solid rgb(11, 40, 92); 
}


@keyframes animation {
    0% { transform: rotateZ(0deg);}
    11.111% { transform: rotateZ(0deg);}
    22.222% { transform: rotateZ(90deg);}
    33.333% { transform: rotateZ(90deg);}
    44.444% { transform: rotateZ(180deg);}
    55.555% { transform: rotateZ(180deg);}
    66.666% { transform: rotateZ(270deg);}
    77.777% { transform: rotateZ(270deg);}
    88.888% { transform: rotateZ(360deg);} 
    100% { transform: rotateZ(360deg);}
}

#wuerfel {
    height: 50px;
    width: auto;
    animation: animation 5s ease-in-out infinite alternate;
    margin-bottom: 8px;
}


